.SingleImagePage {
  background-color: #b1e0f0;
  padding: 96px 0;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-template-areas:
    "i i i i i i c c c c c c"
    "i i i i i i c c c c c c"
    "i i i i i i c c c c c c"
    "i i i i i i c c c c c c"
    "i i i i i i a a a a a a"
    "i i i i i i a a a a a a"
    "l l l l l l a a a a a a";
  grid-gap: 8px;
  align-items: center;
  text-align: center;
  position: relative;
}

.ImageContainer {
  grid-area: i;
  border: 1px solid black;
}

.Like {
  grid-area: l;
  border: 1px solid black;
}

.Comments {
  grid-area: c;
  border: 1px solid black;
}

.AddNew {
  grid-area: a;
  border: 1px solid black;
}
