.Toolbar {
  width: 100%;
  background: wheat;
  padding: 8px 16px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.Div {
  display: inline-block;
  vertical-align: middle;
}

.Brand {
  color: #0e4f1f;
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
}

.Toolbar a {
  text-decoration: none;
  color: #0e4f1f;
  font-weight: bold;
  /* padding: 3px 0; */
}

.MainNav {
  display: inline-block;
  text-align: right;
  width: calc(100% - 45px);
  vertical-align: middle;
}

.Toolbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.Toolbar li {
  display: inline-block;
  margin: 0 16px;
}

.Login {
  color: white;
  background: #ff1b68;
  padding: 8px 16px;
  border-radius: 8px;
}
