.SingleImageContainer {
  background-color: #b1e0f0;
  padding: 11.5rem 19.5rem;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.8rem;
  align-items: center;
  text-align: center;
  position: relative;
}

.SingleImage {
}

.Comments {
  display: grid;
  grid-template-rows: 2fr 1fr;
}
