.ImagesGrid {
  background-color: #b1e0f0;
  padding: 96px;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(3, 400px);
  grid-gap: 16px;
  align-items: center;
  text-align: center;
  /* position: relative; */
}
