.Images {
  /* margin: auto 32px; */
  background-color: #98d5f8;
  padding-top: 16px;
  height: 100%;
  /* width: 100%; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(3, 400px);
  grid-gap: 16px;
  align-items: center;
  text-align: center;
  position: relative;
}
