.ImagesGrid {
  /* margin: auto 32px; */
  background-color: #b1e0f0;
  /* padding-top: 96px; */
  padding: 96px 180px;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(3, 400px);
  grid-gap: 16px;
  align-items: center;
  text-align: center;
  position: relative;
}

@media (min-width: 460px) {
  .ImagesGrid {
    margin: 0;
    padding: 96px 0;
    height: 100%;
    width: auto;
    /* align-items: center; */
  }
}
